version: '3.8'
services:
  backend:
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
    environment:
      - MONGO_URI=mongodb://mongo:27017/movieapp
    ports:
      - "5000:5000"
    depends_on:
      - mongo
  frontend:
    build:
      context: ..
      dockerfile: docker/frontend.Dockerfile
    ports:
      - "80:80"
  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data:
